section.splash
  h2.
    Webinars and Workshops
.contain
  p.
    Join us for a guided session about:
  ul
    li The importance of child sleep
    li Common sleep problems and how to overcome them
    li Sleep environment/consistency and routines
    li Step-by-step sleep plan creation
    li Sleep strategies
  p.
    In addition, receive a:
  ul
    li Sleep log to track your progress
    li Discounted rate for follow-up support calls
