section.services
  .contain
    h2.
      Webinars

    .service
      div
        .description
          p.
            Welcome to our online community where we will walk you through everything you need to address your child&rsquo;s sleep.

      h5.
        Prenatal and Newborn Education Webinar
        br.
        (not yet born babes - 12 weeks):
      h6.
        One webinar: $80

      h5.
        Infant, Toddler, and Child Sleep Webinar
        br.
        (13 weeks+):
      h6.
        One webinar: $80

    h2.
      Workshops

    .service
      div
        .description
          p.
            Join our live workshops in the heart of the Okanagan. Please contact us if you would like to organize a workshop in your hometown.

      h5 Prenatal and Newborn Education Webinar (not yet born babes - 12 weeks)
      h6 Each workshop: $150

      h5 Infant, Toddler, and Child Sleep Webinar (13 weeks+)
      h6 Each workshop: $150

    h2.
      Additional Support

    h5.
      30-minute follow-up conversation
    h6 $100*

    p
      small.
        *Discount coupon included with your webinar and workshop follow-up email. A current and complete sleep log required.
