section.services
  .contain
    .service
      p
        h2.
          Webinars
      .row
        .description
          p.
            Welcome to our online community where we will walk you through everything you need to address your child&rsquo;s sleep.

        aside
          small
            label.
              Join us for a guided session about:
            ul
              li The importance of child sleep
              li Common sleep problems and how to overcome them
              li Sleep environment/consistency and routines
              li Step-by-step sleep plan creation
              li Sleep strategies
            label.
              In addition, receive a:
            ul
              li Sleep log to track your progress
              li Discounted rate for follow-up support calls
            br
      .row
        .package.cols3.roseMelon
          h5 Prenatal and Newborn
          h6 not-yet-born to 12 weeks
          h3 $80
          a.button(href='book/prenatal_webinar') Book
        .package.cols3.papaya
          h5 In-Crib Sleepers
          h6 &nbsp;
          h3 $80
          a.button(href='book/incrib_webinar') Book
        .package.cols3.skydive
          h5 In-Bed Sleepers
          h6 &nbsp;
          h3 $80
          a.button(href='book/inbed_webinar') Book

    hr

    .service
      p
        h2.
          Workshops
      .row
        .description
          p.
            Join our live workshops in the heart of the Okanagan. Please contact us if you would like to organize a workshop in your hometown.
        aside
          small
            label.
              Join us for a guided session about:
            ul
              li The importance of child sleep
              li Common sleep problems and how to overcome them
              li Sleep environment/consistency and routines
              li Step-by-step sleep plan creation
              li Sleep strategies
            label.
              In addition, receive a:
            ul
              li Sleep log to track your progress
              li Discounted rate for follow-up support calls
            br
      .row
        .package.cols3.roseMelon
          h5 Prenatal and Newborn
          h6 not-yet-born to 12 weeks
          h3 $150
          a.button(href='book/prenatal_workshop') Book
        .package.cols3.papaya
          h5 In-Crib Sleepers
          h6 &nbsp;
          h3 $150
          a.button(href='book/incrib_workshop') Book
        .package.cols3.skydive
          h5 In-Bed Sleepers
          h6 &nbsp;
          h3 $150
          a.button(href='book/inbed_workshop') Book

    hr

    .service
      p
        h2.
          Additional Support Call
      .row
        .description
          p.
            This call is for our webinar and workshop families only and is for when you may need guidance through a particular issue. A discount coupon will be included with your webinar and workshop follow-up email. A current and complete sleep log is required for all Additional Support Calls.

      .row
        .package.center.roseMelon
          h5 Follow-up Call
          h6 30 minute conversation
          h3 $100
          a.button(href='book/additional_support') Book
