.ad {
  background-image: url('/images/images/sc_carousel_lh_4b.png');
  background-size: cover;
  background-position: center;
  background-color: $darkTropiteal;
  color: white;
  position: relative;
  z-index: 0;

  text-align: center;

  @include media($medium-up) {
    text-align: left;
  }

  .contain {
    position: relative;
  }


  h1,h2,h3,h4,h5,h6 {
    text-shadow: 0 0 1px black;
    @include media($medium-up) {
      text-shadow: none;
    }
  }

  img {
    position: absolute;
    top: -6rem;
    z-index: -1;
    right: 1rem;
    max-width: 300px;
    opacity: 0.5;
    @include media($medium-up) {
      right: 3rem;
      opacity: 1;
    }
  }

}
