@mixin header-colour($color: white) {
  h1,h2,h3,h4,h5,h6, blockquote {
    font-family: $gothamrnd-light-family;
    color: $color;
  }
}

body .m-scooch-inner {
  @include transition-duration(1.5s);
}

.carousel {

  @include header-colour($color: white);

  margin-bottom: 1rem;

  .m-item {
    color: white;
    position: relative;
    background-size: cover;
    background-position: center;
    @include media($small-only) {
      background-position: right;
      &.kariAlison {
        background-position: 72%;
      }
    }
    max-height: 500px;
    min-height: 414px;

    &.tropiteal {
      @include media($medium-up) {
        @include header-colour($color: $tropiteal);
      }

    }

    .expander {
      width: 100%;
      height: 0;
      content: " ";
      padding-bottom: 52%;
      min-height: 416px;
      &.darkMobile {
        @include media($small-only) {
          background: black;
          opacity: 0.4;
        }
      }
    }

    h2 {
      font-size: 1.6rem;
    }

    .overlay {
      position: absolute;
      width: 100%;
      top: 0;
      padding: 1rem;
      //background-color: $darkTropiteal;
      @include media($medium-up) {
        top: 1rem;
        padding: 2rem;
      }

      h2 {
        max-width: 500px;
      }
    }
  }

  .m-scooch-controls {
    position: absolute;
    width: 100%;
    bottom: 1.5rem;
    left: 0;
    text-align: center;

    a[data-m-slide] {
      $slideSize: 1.3rem;

      &.m-active {
        background-color: $skydive;
      }
      background-color: rgba($breezeBlocks, 0.5);
      width: $slideSize;
      height: $slideSize;
      color: transparent;
      border-radius: 50%;
      display: inline-block;

      & + a[data-m-slide] {
        margin-left: $slideSize/2;
      }
    }

  }

  blockquote {
    position: relative;
    margin: 0;
    color: white;
    // padding: 0 1em;
    &::before,
    &::after {
      color: white;
      background-color: $roseMelon;
      border-radius: 0.5em;
      width: 0.7em;
      height: 0.7em;
      padding-top: 0.02em;
      display: inline-block;
      text-align: center;
      position: relative;
      top: -0.1em;
    }
    &::before {
      content: "\201C";
      position: absolute;
      left: -0.8em;
    }
    &::after {
      content: "\201D";
    }
  }

}
