.services {
  @include outer-container;

  h2 {
    text-align: center;
  }

  .service {

    @include row();

    & + .service {
      padding-top: 2rem;
    }

    .button {
      @include plain-button($tropiteal);
      padding: 1rem 3.3rem;
    }
    h4 {
      color: $roseMelon;
      font-family: $roboto-light-family;
    }
    ul {
      text-align: left;
    }

    aside {

      @include media($medium-up) {
        @include span-columns(6);
      }
      @include media($large-up) {
        @include span-columns(4);
      }

      text-align: center;
      padding-top: 1.7rem;
      img {
        max-width: 230px;
      }

      &::after {
        @include clearfix();
      }
    }
    .description {
      text-align: center;
      vertical-align: top;
    }
    .description:not(:last-child) {
      @include media($medium-up) {
        @include span-columns(6);
        text-align: left;
      }
      @include media($large-up) {
        @include span-columns(8);
      }
    }
  }
}
