.splash {
  background-color: $lightSlate;
  text-align: center;

  @include media($medium-up) {
    padding: 2rem $paddingSidesMobile;
  }

  h1,h2,h3,h4,h5,h6 {
    color: $darkTropiteal;
  }
  p {
    color: white;
    font-size: 1.2em;
  }
}
