.team {
  text-align: center;

  @include row();

  .member {
    @include media($medium-up) {
      @include span-columns(6);
    }
    @include span-columns(12);
    box-sizing: border-box;
    @include media($medium-up) {
      padding: 3rem;
    }
    padding: $paddingSidesMobile;
  }

  img {
    max-width: 300px;
    width: 90%;
  }

  > p {
    @include span-columns(12);

    @include media($medium-up) {
      padding: 0 $paddingSides;
    }
    padding: 0 $paddingSidesMobile;
  }

}
