.team {
  text-align: center;

  @include row();

  .member {
    @include span-columns(6);
    box-sizing: border-box;
    padding: 3rem;
  }

  img {
    max-width: 300px;
    width: 90%;
  }

  > p {
    @include span-columns(12);
    padding-left: $paddingSides;
    padding-right: $paddingSides;
  }

}
