@import "../guide";

.ad {
  background-color: $darkTropiteal;
  color: white;
  position: relative;

  padding-bottom: 4rem;

  padding-left: $paddingSides;
  padding-right: 40%;

  img {
    position: absolute;
    top: 0;
    right: 3rem;
    max-width: 300px;
  }

}
