@import "../guide";

.splash {
  background-color: $lightSlate;
  text-align: center;

  padding: 2rem $paddingSides;

  h1,h2,h3,h4,h5,h6 {
    color: $darkTropiteal;
  }
  p {
    color: white;
    font-size: 1.2em;
  }
}
