@import "../guide";

.testimonials {

  h3 {
    font-size: 1.5em;
  }

  .m-scooch-inner {
    text-align: center;
  }

  .m-item {
    padding-left: $paddingSides;
    padding-right: $paddingSides;
    //position: absolute;
  }

  color: $roseMelon;
  font-family: $roboto-thin-italic-family;
  b {
    font-weight:normal;
    font-family: $roboto-medium-italic-family;
  }

  .m-scooch-controls {
    $controlSize: 14px;
    $verticalScale: 0.8;
    a {
      position: absolute;
      top: 50%;
      display: block;
      width: 0;
      height: 0;
      padding: 0;
      margin-top: -1 * $controlSize * $verticalScale;
      color: transparent;
    }
    a[data-m-slide='prev'] {
      left: 2rem;
      border-right: $controlSize solid $skydive;
      border-top: $controlSize*$verticalScale solid transparent;
      border-bottom: $controlSize*$verticalScale solid transparent;
    }
    a[data-m-slide='next'] {
      right: 2rem;
      border-left: $controlSize solid $skydive;
      border-top: $controlSize*$verticalScale solid transparent;
      border-bottom: $controlSize*$verticalScale solid transparent;
    }
  }
}
