section.services
  .contain
    h2.
      Our Packages

    .service
      div
        img(src='/images/icons/sc_icons.png')
      .description
        h4.
          Prenatal and Newborn Sleep Education Package (not yet born to 12 weeks)
        p.
          The goal of our Prenatal and Newborn Sleep Education is to instill healthy, independent sleep skills from the get-go while also addressing your baby’s nutritional requirements and developing your confidence in understanding your child’s needs. This guide gives parents the strategies to avoid the ‘new parent exhaustion’ that often comes with the addition of a new baby.
        b.
          Investment: $300
        p
          a.button(href="#") Book
      aside
        small
          label.
            Includes:
          ul
            li a detailed intake questionnaire
            li an hour-long consultation
            li a virtual sleep log to track the emerging trends in their child’s sleep and feeding habits
            li two scheduled virtual sleep log check ups
            li additional 30 minute follow-up call during the first 12 weeks of your child’s life
            li 15-minute follow-up call when your child is 4 months
            li The Sleeping Child Resource Guide to keep parents prepared as your child matures and when life changes

    .service
      div
        img(src='/images/icons/sc_icons.png')
      .description
        h4.
          Infant, Toddler and Child Sleep Support Packages
        p.
          Sleep problems are not insignificant. The goal of our Infant, Toddler and Child Sleep Support Packages is to teach families proven strategies to reach their sleep goals as quickly and easily as possible.
        b.
          Investment: $299.99
        p
          a.button(href="#") Book
      aside
        small
          label.
            Includes:
          ul
            li a detailed intake questionnaire
            li an hour-long consultation
            li an online sleep log to track the emerging trends in their child’s sleep and feeding habits
            li four scheduled follow-up calls* during week one
            li daily, scheduled virtual sleep log checkups for two weeks
            li The Sleeping Child Resource Guide to keep parents prepared as your child matures and when life changes
