.carousel
  .m-scooch.m-fluid
    .m-scooch-inner

      .m-item
        .background(style='background-image: url(/images/images/sc_carousel_lh_1.jpg)')
        .overlay
          h2
            blockquote.
              Sweet, peaceful sleep. So simple yet so elusive.  Let us help.
          a.button(href='/evaluations') Book Now

      .m-item
        .background(style='background-image: url(/images/images/sc_carousel_lh_2.jpg)')
        .overlay
          h2.
            Take the first step away from exhaustion. The Sleeping Child offers <b>free</b> 15-minute calls with our experts.
          a.button(href='/evaluations') Book Now

      .m-item
        .background(style='background-image: url(/images/images/sc_carousel_lh_3.jpg)')
        .overlay
          h2
            blockquote.
              Remember how hard it was with a child who wouldn&rsquo;t sleep? <br /> Give your loved ones the gift of sleep.
          a.button(href='/evaluations') Book Now

      .m-item
        .background(style='background-image: url(/images/images/sc_carousel_lh_4.jpg)')
        .overlay
          h2
            blockquote.
              Sweet, peaceful sleep. So simple yet so elusive.  Let us help.
          a.button(href='/evaluations') Book Now

    .m-scooch-controls.m-scooch-bulleted
      a(href='#' data-m-slide='1') 1
      a(href='#' data-m-slide='2') 2
      a(href='#' data-m-slide='3') 3
      a(href='#' data-m-slide='4') 4
