.carousel
  .m-scooch.m-fluid
    .m-scooch-inner

      .m-item(style='background-image: url(/images/images/sc_carousel_lh_1.jpg)')
        .expander.darkMobile
        .overlay
          .contain
            h2
              blockquote.
                A true life and marriage saver.

      .m-item.kariAlison.tropiteal(style='background-image: url(/images/images/sc_carousel_lh_2.jpg)')
        .expander.darkMobile
        .overlay
          .contain
            h2.
              Our sleep education is straight-forward and easy-to-follow, so you can spend time focusing on what’s important – your family.

      .m-item(style='background-image: url(/images/images/sc_carousel_lh_3.jpg)')
        .expander.darkMobile
        .overlay
          .contain
            h2.
              You can make bedtime happy. Let us help.

      .m-item(style='background-image: url(/images/images/sc_carousel_lh_4.jpg)')
        .expander
        .overlay
          .contain
            h2.
              Step away from exhaustion. Book a <b>free</b> 15-minute evaluation with us.
            a.button(href='/evaluations') Book Now

    .m-scooch-controls.m-scooch-bulleted
      a(href='#' data-m-slide='1') 1
      a(href='#' data-m-slide='2') 2
      a(href='#' data-m-slide='3') 3
      a(href='#' data-m-slide='4') 4
