.carousel
  .m-scooch.m-fluid
    .m-scooch-inner

      .m-item
        img(src='/images/images/sc_web_carousel_images_3.jpg')
        .overlay
          h2
            blockquote.
              Sweet, peaceful sleep. So simple yet so elusive.  Let us help.
          a.button(href='/evaluations') Book Now

      .m-item
        img(src='/images/images/sc_web_carousel_images_1.jpg')
        .overlay
          h2
            blockquote.
              Sweet, peaceful sleep. So simple yet so elusive.  Let us help.
          a.button(href='/evaluations') Book Now

      .m-item
        img(src='/images/images/sc_web_carousel_images_2.jpg')
        .overlay
          h2
            blockquote.
              Sweet, peaceful sleep. So simple yet so elusive.  Let us help.
          a.button(href='/evaluations') Book Now

      .m-item
        img(src='/images/images/sc_web_carousel_images_4.jpg')
        .overlay
          h2
            blockquote.
              Sweet, peaceful sleep. So simple yet so elusive.  Let us help.
          a.button(href='/evaluations') Book Now
