section.splash
  .contain
    h2.
      We are experts at helping you and your loved ones find rest.
    p.
      With parenting experience and research-based knowledge,
      we provide sleep solutions for tired parents who yearn for happy bedtimes,
      rested children, and guilt-free time for themselves.
