section.team
  .members
    .member
      h2.
        Meet Kari
      img(src='images/images/kari_bio.png')
      p
        em.
          Kari Wright,&nbsp;
        i.
          B.A., B.Ed., 
          Infant and Child Sleep Specialist

    .member
      h2.
        Meet Alison
      img(src='images/images/alison_bio.png')
      p
        em.
          Alison Ruks,&nbsp;
        i.
          B.A., B.Ed., Infant and Child Sleep Specialist

  p.
    We are the cofounders of The Sleeping Child and are mothers who have experienced first-hand the challenges of child sleep, or lack thereof. Upon realizing how conflicting available sleep resources can be, we developed a successful way to provide simple, accessible sleep solutions for families with newborns, infants, toddlers, and older children. The thrill of parenting should be a joyful, generous, and fulfilling experience that includes restful sleep for children and parents alike.
