section.team


  .member
    h2.
      Meet Kari
    img(src='images/images/kari_bio.png')
    p
      em.
        Kari Wright,&nbsp;
      i.
        B.A., B.Ed.
        Infant and Child Sleep Specialist


  .member
    h2.
      Meet Alison
    img(src='images/images/alison_bio.png')
    p
      em.
        Alison Ruks,&nbsp;
      i.
        B.A., B.Ed., Infant and Child Sleep Specialist

  p.
    Kari and Alison are the cofounders of The Sleeping Child and are mothers who have experienced first-hand the challenges of child sleep, or lack thereof. They realized how conflicting available sleep resources can be, and developed a successful way to provide simple, and accessible solutions for newborns, infants, toddlers, and children. The thrill of parenting should be a joyful, generous, and fulfilling experience, including restful sleep for children and parents alike.
