section.team
  .contain
    .members
      .member
        h2.
          Meet Kari
        img(src='images/images/kari_bio.png')
        p
          em.
            Kari Wright,&nbsp;
          i.
            B.A., B.Ed., #[br.show-for-small-only] Certified Infant and Child Sleep Specialist

      .member
        h2.
          Meet Alison
        img(src='images/images/alison_bio.png')
        p
          em.
            Alison Ruks,&nbsp;
          i.
            B.M., C.H., #[br.show-for-small-only] Certified Infant and Child Sleep Specialist

    p.
      Don’t even bother with boring, long-winded, and circular sleep resources and embrace our straight-forward and empowering sleep programs. We want you to spend time focusing on what’s important – your family.  We are mothers who have faced the challenges of child sleep issues, who have over 30 years of combined family health and education experience, and who are passionate about helping you develop positive family experiences.
