section.testimonials
  .contain
    .m-scooch.m-fluid
      .m-scooch-inner

        .m-item
          h3
            span.
              &ldquo;a true life and marriage saver&rdquo;
            b.
              - Krista, Rockport

        .m-item
          h3
            span.
              &ldquo;we got our evenings back to enjoy as a couple&rdquo;
            b.
              - Jamie and Richard, Victoria

        .m-item
          h3
            span.
              &ldquo;life changing for the whole family!&rdquo;
            b.
              - Mike and Kate, Kelowna

        .m-item
          h3
            span.
              &ldquo;Our daughter is a happier baby and we are better parents with regular sleep&rdquo;
            b.
              - Megan, Comox

        .m-item
          h3
            span.
              &ldquo;Rest assured, your only thought will be you wish you would have done it sooner!&rdquo;
            b.
              - Jen and Richard, Victoria

        .m-item
          h3
            span.
              &ldquo;We have over 30 years of combined experience in family health and education.&rdquo;

      .m-scooch-controls.m-scooch-bulleted
        a(href='#' data-m-slide='prev') Previous
        a(href='#' data-m-slide='next') Next
