section.services
  .contain
    h2 Our Services

    .service
      aside
        img(src='images/icons/1-on-1.png')
      .description
        h4 One-on-one Consultations
        p.
          When you work with us, you will reach your sleep goals as quickly and easily as possible. During our time together, you will build confidence in your ability to read your child's sleep needs and your child will know what to expect from you, therefore creating a happy, stress-free sleep environment.

        a.button(href='/consultations') More

    hr

    .service
      aside
        img(src='images/icons/screen.png')
      .description
        h4 Webinars and Workshops
        p.
          We are pleased to provide sleep education online and in-person. Learn step-by-step strategies on how to guide your child to develop healthy, independent sleep skills.

        a.button(href='/workshops') More

    hr

    .service
      aside
        img(src='images/icons/gift.png')
      .description
        h4 Gift Certificates
        p.
          Maybe you remember what a struggle it was to be exhausted and you want to help your friend or loved one. Be thoughtful and give them the gift of sleep - a gift that will last a lifetime!

        a.button(href='#') More
