section.services

  h2 Our Services

  .service
    .image
      img(src='images/icons/consultation_icon.png')
    .description
      h4 One-on-one Consultations
      p.
        When you work with Kari and Alison, you will reach your sleep goals as quickly and easily as possible. During our time together, you will build confidence in your ability to read your child's sleep needs and your child will know what to expect from you, therefore creating a happy, stress-free sleep environment.

      a.button(href='#') More
  
  .service
    .image
      img(src='images/icons/webinar_icon.png')
    .description
      h4 One-on-one Consultations
      p.
        When you work with Kari and Alison, you will reach your sleep goals as quickly and easily as possible. During our time together, you will build confidence in your ability to read your child's sleep needs and your child will know what to expect from you, therefore creating a happy, stress-free sleep environment.

      a.button(href='#') More
