section.services
  .contain
    h2 Our Services

    .service
      aside
        img(src='images/icons/1-on-1.png')
      .description
        h4 One-on-One Consultations
        p.
          We develop your sleep plan, teach you how to implement the strategies, and support you and your family during the process. Together, we will reach your goals.

        a.button(href='/consultations') More

    hr

    .service
      aside
        img(src='images/icons/bulb.png')
      .description
        h4 Webinars and Workshops
        p.
          Confidently develop and implement a sleep plan in our online or in-person, group-based learning environment. We will get you on the right path.

        a.button(href='/workshops') More
