@import "shared/_all",
        "evaluations/_evaluations.scss",
        "landing_page/_ad.scss",
        "landing_page/_carousel",
        "landing_page/_services",
        "landing_page/_splash",
        "landing_page/_team",
        "landing_page/_testimonials";

.center {
  text-align: center;
}

.no-padding {
  padding: 0 !important;
}

.show-for-small-only {
  @include media($medium-up) {
    display: none;
  }
}

body{
  font-family: $roboto-light-family;
  color: $darkTropiteal;

  padding: 0;
  margin: 0;
  font-size: 1.2rem;

}

b {
  font-family: $roboto-medium-family;
}

h1 { @include h1(); }
h2 { @include h2(); }
h3 { @include h3(); }
h4 { @include h4(); }
h5 { @include h5(); }
h6 { @include h6(); }

label { @include label(); }

hr {
  @include border-image(url(/images/dot.png) 33% repeat);
  border-style: solid;
  border-width: 16px;
  border-top: none;
}

strong {
  font-family: $gothamrnd-bold-family;
}

a {
  @include a();
}

a.button {
  @include sc-button();
  &.papaya {
    background-color: $papaya;
  }
}

p {
  line-height: 1.4em;
}

p em {
  font-style: normal;
  font-family: $roboto-medium-family;
  color: $roseMelon;
}

.contain {
  padding: 1rem;
  @include contain();
}

ul {
  padding-left: 1.5rem;
  text-align: left;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
