@import "shared/_all",
        "landing_page/_ad.scss",
        "landing_page/_carousel",
        "landing_page/_services",
        "landing_page/_splash",
        "landing_page/_team",
        "landing_page/_testimonials";

.center {
  text-align: center;
}

body{
  font-family: $roboto-thin-family;
  font-size: 1.2em;
  letter-spacing: 0.03em;
  color: $skydive;

  padding: 0;
  margin: 0;

}

b {
  font-family: $roboto-medium-family;
}

h1 { @include h1(); }
h2 { @include h2(); }
h3 { @include h3(); }
h4 { @include h4(); }
h5 { @include h5(); }

strong {
  font-family: $gothamrnd-bold-family;
}

a {
  @include a();
}

a.button {
  @include sc-button();
  &.papaya {
    background-color: $papaya;
  }
}

p em {
  font-style: normal;
  font-family: $roboto-medium-family;
  color: $roseMelon;
}

.contain {
  padding: 1rem;
  @include contain();
}


section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
