@import "bourbon/_bourbon",
        "neat/_neat",
        "colours",
        "grid";

body {
  margin: 0;
}

.header {
    display: none;
}
.gridHeader {
  text-transform: uppercase;

  h4 {
    padding: 0.5rem;
    margin: 0;
    min-height: 3.5rem;
    @include media($medium-up) {
      font-size: 1.2em;
      min-height: 4rem;
    }
  }
}

div.gridDays {
}

a {
  @include a();
}

div.gridDay {

  text-align: center;
  display: inline-block;
  width: 14.28%;
  float: left;

  &:last-child {
    border-right: 1px solid $breezeBlocks;
  }

  .gridHeader, .gridSlot {
    border-left: 1px solid $breezeBlocks;
    border-bottom: 1px solid $breezeBlocks;
  }

  div.gridSlot a,
  div.gridBusy {
    padding: 0.2rem;
    @include media($medium-up) {
      padding: 1rem;
    }
  }

  div.gridSlot {
    a {
      display: block;
      color: #7FCDC4;
      text-decoration: none;
      transition: 0.2s;
      &:hover {
        color: white;
        background-color: $breezeBlocks;
      }
    }
  }

}

.body {
  @include contain();
}

button {
  @include plain-button;
}

textarea {
  display: block;
}

.item {
  margin-bottom: 1rem;
}

.kaptchaMessage {
  margin-top: 1em;
  margin-bottom: 1em;
}

input, textarea {
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !important;
  transition: 0.5s;
  outline: 0;
  padding: 0.4rem;
  font-size: 1rem;
  border-radius: 4px;
  color: $charcoal;
  width: 100%;
  max-width: 20rem;
  &:focus {
    background-color: #fafafa;
  }
}
input:focus {
  box-shadow: 1px 1px black;
}
