@import "_colours",
        "_breakpoints",
        "_buttons",
        "widget/_calendar",
        "widget/_services";

body {
  margin: 0;
}

.header {
    display: none;
}

.body {
  margin: 0 auto;
  max-width: 68rem;
}

button {
  @include plain-button;
}

textarea {
  display: block;
}

.item {
  margin-bottom: 1rem;
}

.kaptchaMessage {
  margin-top: 1em;
  margin-bottom: 1em;
}

input, textarea {
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !important;
  transition: 0.5s;
  outline: 0;
  padding: 0.4rem;
  font-size: 1rem;
  border-radius: 4px;
  color: $charcoal;
  width: 100%;
  max-width: 20rem;
  &:focus {
    background-color: #fafafa;
  }
}
input:focus {
  box-shadow: 1px 1px black;
}
