section.splash
  .contain
    h2.
      Want to talk it out?
    p.
      We love talking about babies and sleep, so book a free 15-minute call with us.
    p.
      Please expect full honestly - we will never to try to sell you on something that you don&rsquo;t need or that isn&rsquo;t right for you and your family.
    a.button.papaya(href='book') Book Now
section.evaluations
  .contain
    h2.
      Frequently Asked Questions

    h4.
      Why work with Alison and Kari instead of another team?
    ul
      li We have over 30 years of combined experience in the field of family health and education.
      li We know that our clients are busy - and often very tired - so we developed a straight-forward, easy to follow method to deliver our consultations.
      li Unlike other consultants, we provide unprecedented virtual presentations and interactive, easy-to-use virtual sleep logs.

    h4 How do we have our consultation?
    p.
      We send you a link to join us online for your consultation.

    h4 How do we have our follow-up calls?
    p.
      We will call you at the scheduled time.

    h4 What are virtual sleep log check-ins?
    p.
      We send you a link to your confidential and virtual sleep log, where you track the details of your child&rsquo;s day. On your sleep log, we make comments, answer questions and offer recommendations that are easy for both of you and us to follow.

    h4.
      How do I know I will get results?
    p.
      Consistency and persistence 100% of the time with our sleep strategy will get you results. You choose to, you act, and you get results; we empower you along the way.

    h4.
      Why work with a specialist?
    p.
      When you work with us, you will receive a plan to say goodbye to sleepless nights and nightmare naps. Your sleep problems will be solved! Need we say more?

    h4.
      How long will it take for my child to start sleeping?
    p.
      Every child is different, but the vast majority of our clients are jumping for joy and seeing drastic improvements by day three of our program! Some of our babes sleep through the night on day one, and some take a little longer. Rest assured, as long as you follow our plan - we will have your child sleeping well as quickly as easily as possible!

    h4.
      Will my child cry?
    p.
      Most likely there will be some tears, but that truly depends on your current situation. Following our program, however, potential crying is very short term and offers huge rewards for everyone in the family at the end of the journey. The best way to avoid tears and upset is to start from the get-go with our Prenatal and Newborn Education.

    h4.
      My partner doesn&rsquo;t want to spend the money. Is it worth it?
    p.
      One word: Yes! Our services are worth every single dollar (and more!). When you work with us, you will reach your sleep goals as quickly and easily as possible.Let us ask you this - what is the value of good sleep for you and your family? What is the value of time to reconnect with your partner or take care of yourself?  The value of a happy, stress-free sleep environment? Our answer: priceless.

    h4.
      Will I be stuck at home for naps and nighttime?
    p.
      We expect that you are home for all naps and bedtimes for the period when you are teaching your child to sleep, which is at least 2 weeks. A consistent sleep environment  and consistent strategies will allow you to reach your sleep goals as quickly and easily as possible. After the program, you&rsquo;ll have more freedom but you will understand all of the reasons why it is so important to honour your child&rsquo;s sleep needs and you will want to make sure your little one gets the healthy sleep they deserve.

    h4.
      Am I being a selfish parent by wanting to sleep?
    p.
      Let us help you release the parent guilt! Healthy sleep is good for your child&rsquo;s development and will be a skill they carry forward throughout their lives. A child who sleeps well means that you have time to dedicate to taking care of you, the rest of your family, and your relationships. You are the heart of your family and you need to feel like yourself to be the parent you aspire to be.

    h4.
      Will these sleep problems just correct themselves if I give my child time?
    p.
      Rarely. We wish we could just say &lsquo;they&rsquo;ll grow out of it&rsquo;, but that situation is few and far between. If you are considering teaching your child independent sleep skills - do it as soon as possible. Instilling healthy sleep habits from a young age is much easier than changing them later on!
