section.splash
  .contain
    h2.
      Not sure what you need? Want to talk it out?
    p.
      We love talking about babies and sleep, so book a call. Please expect full honestly - if we can help you get to the root of the issue in 15-minutes, we will. Also, we will never to try to sell you on something that you don&rsquo;t need or that isn&rsquo;t right for you and your family.
    a.button.papaya(href='book') Book Now
section.evaluations
  .contain
    h3.
      Frequently Asked Questions

    h4.
      How do I know I will get results?

    p.
      You choose to, you act, and you get results. You make the choice and we empower you.

    h4.
      Why work with a specialist?

    p.
      When you work with us, you will say goodbye to sleepless nights and nightmare naps. Your sleep problems will be solved! Need we say more?

    h4.
      Why work with us instead of another team?

    p.
      We have over 30 years of combined experience in the field of family health and education. Not only will we solve your immediate sleep issues, but we will also instil you with confidence to read your child&rsquo;s sleep needs going forward. We make it our top priority to prepare you with the education and tools to manage every sleep situation that may arise throughout the childhood years. Unlike many other consultants, most parents only need to hire us once! Oh, and to top it off, we host the most convenient online sleep consulting communications platform available worldwide!

    h4.
      How long will it take for my child to start sleeping?

    p.
      Every child is different, but the vast majority of our clients are jumping for joy and seeing drastic improvements by day three of our program! Some of our babes sleep through the night on day one, and some take a little longer. Rest assured, as long as you follow our plan - we will have your child sleeping well as quickly as easily as possible!

    h4.
      Will my child cry?
    p.
      Most likely there will be some tears, but that truly depends on your current situation. Following our program, however, potential crying is very short term and offers huge rewards for everyone in the family at the end of the journey. The best way to avoid tears and upset (from your child and you)? Give your child space to learn independent sleep skills from the get-go and work with our Prenatal and Newborn Sleep Education Package.

    h4.
      My partner doesn&rsquo;t want to spend the money. Is it worth it?
    p.
      One word: Yes! Our services are worth every single dollar. Let us ask you this - what is the value of good sleep for you and your family or time to reconnect with your partner or take care of yourself? When you work with us, you will reach your sleep goals as quickly and easily as possible. The value of a happy, stress-free sleep environment? Priceless.

    h4.
      Will I be stuck at home for naps and nighttime?
    p.
      Let&rsquo;s get this straight. Expectations are that you are home for all naps and bedtimes for the time you are working on sleep (which is usually 2 weeks). A consistent environment is as equally necessary as consistent strategies to reach your sleep goals as quickly and easily as possible. After the program, you&rsquo;ll have more freedom but you will understand all of the reasons why it is so important to honour your child&rsquo;s sleep needs… and you will want to make sure your little munchkin gets the healthy sleep they deserve.

    h4.
      Am I being a selfish parent by wanting to sleep?
    p.
      Let us help you release the parent guilt! Healthy sleep is good for your child&rsquo;s development and will be a skills they carry forward throughout their lives. Their steady sleep also means you have time to dedicate to taking care of you and the rest of your family and relationships. You are the heart of your family and you need to feel like yourself to be the parent you aspire to be.

    h4.
      Will these sleep problems just correct themselves if I give my child time?
    p.
      Rarely. We wish we could just say &lsquo;they&rsquo;ll grow out of it&rsquo;, but that situation is few and far between. If you are considering teaching your child the skill of sleep - do it as soon as possible. Instilling healthy sleep habits from a young age is much easier than changing them later on!

    h4.
      How can I help my grandchildren?
    p.
      Help their parents by giving them the gift of sleep. We all think blankets are gorgeous and soft, but sleep is something enduring and helpful for the whole family. As a grandparent, we want our children feeling fulfilled as parents, so give gift certificates to any of our programs. Buy them for a loved one&rsquo;s baby shower or just because.
