@import "../bourbon/_bourbon";

@mixin plain-button($bgColor: $tropiteal) {
  color: white;
  border: none;
  border-radius: 7px;
  padding: 1rem 1.3rem;
  font-size: 1.1rem;
  display: inline-block;
  background: $bgColor;
  margin-bottom: 0.5rem;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background-color: scale-color($bgColor, $lightness: -10%);
  }
}

@mixin sc-button {
  @include plain-button($papaya);
}
