@import "_nav",
        "_logo";

footer {

  @include nav-container;

  .credits {
    padding-bottom: 0.5rem;
    font-size: 0.5em;
    text-align: center;
    font-family: $roboto-light-italic-family;

    *, a {
      color: rgb(147,206,206);
    }

    a {
      transition: 0.5s;
      font-family: $roboto-light-family;
      &:hover {
        color: white;
      }
    }

  }

  &.on {
    overflow: visible;
    nav {
      transform: none;
    }
  }

  > div {

    nav {

      @include media($medium-up) {
        clip: inherit;
      }

      @include media($small-only) {
        bottom: 100%;
        margin-top: 0;
        transform: translateY(100%) scale(1,0);
      }
    }


  }

}
