@import "_nav",
        "_logo";

footer {

  @include nav-container;

  &.on {
    overflow: visible;
    nav {
      transform: none;
    }
  }

  > div {

    nav {

      @include media($medium-up) {
        clip: inherit;
      }

      @include media($small-only) {
        bottom: 100%;
        margin-top: 0;
        transform: translateY(100%) scale(1,0);
      }
    }


  }

}
