@import "_grid";

@mixin nav-container {
  background-color: $darkTropiteal;

  @include row();
  position: relative;
  z-index: 2;
  overflow: visible;

  .logo {

    padding: 1rem;
    text-align: center;

    @include media($medium-up) {
      padding: 1.7rem;
      padding-left: 4rem;
      text-align: left;
    }

    position: relative;
    z-index: 2;
    background-color: $darkTropiteal;

    @include media($medium-up) {
      @include span-columns(4);
      padding-right: 0;
      padding-left: 1rem;
    }
    @include media($large-up) {
      @include span-columns(6);
    }

    img {
      width: 100%;
      max-width: 200px;
      @include media($medium-up) {
        max-width: 400px;
      }
    }

    a.burger {
      cursor: pointer;
      $thickness: 0.2rem;
      $spread: 0.5rem;

      @include media($medium-up) {
        display: none;
      }
      position: absolute;
      left: 1rem;
      top: 1rem;
      width: 2rem;
      .bar {
        content: "";
        display: block;
        height: $thickness;
        background-color: white;
        transition: 0.5s;
        & + .bar {
          margin-top: $spread;
        }

        &:first-child {
          transform-origin: left;
        }
        &:nth-child(2) {
          transform-origin: center;
        }
        &:last-child {
          transform-origin: left;
        }
      }

    }
  }

  &.on {
    .burger {
      .bar:first-child {
        transform: rotate(45deg) scale(1);
      }
      .bar:nth-child(2) {
        opacity: 0;
      }
      .bar:last-child {
        transform: rotate(-45deg) scale(1);
      }
    }
    nav {
      opacity: 1;
    }
  }

  nav {

    margin-top: -100%;
    padding-top: 0;
    padding: 1rem;
    color: white;
    opacity: 0;
    @include span-columns(12);
    @include media($medium-up) {
      @include span-columns(8);
      margin-top: 0;
      opacity: 1;
    }
    @include media($large-up) {
      @include span-columns(6);
    }

    @include media($small-only) {
      transition: 0.25s;
      background: $darkTropiteal;
      position: absolute;
      left: 0;
      z-index: 1;
      bottom: 0;
      width: 100%;
    }

    .column {

      margin-bottom: 1rem;

      a {
        transition: 0.25s;
        &:hover {
          color: white;
        }
      }

      @include media($medium-up) {
        float: left;

        & + .column {
          margin-left: 1.5rem;
        }

      }

      h1,h2,h3,h4,h5 {
        margin-top: 0;
        margin-bottom: 0.5em;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 1rem;
        li {
          & + li {
            margin-top: 0.5em;
            @include media($medium-up) {
              margin-top: 0.25em;
            }
          }
          display: block;
          &, a {
            color: $breezeBlocks;
          }
        }
        li.active {
          a {
            color: white;
          }
        }
      }

    }


  }
}
