section.splash
  .contain
    h2.
      We will provide comfort and solutions for parents facing what
      can become the dominant influence in their lives - a beautiful baby or young child who won&rsquo;t sleep.
    p.
      We teach parents time-honoured and researched ways to bring sleep into their child&rsquo;s daily life. Without restful sleep any task can seem exhausting and daunting - let us walk you through proven and straight-forward strategies that work.
