section.splash
  .contain
    h2.
      One-on-One Consultations
    p.
      We develop your sleep plan, teach you how to implement the strategies, and support you and your family during the process. You will not only solve your current sleep issues, but you will also gain all of the tools you need to manage every sleep situation throughout the childhood years. In order to remain client-centred, we work with a maximum of four families per week. Rest assured, we are here for you.
