section.services
  .contain
    .service
      p
        h3.
          Prenatal and Newborn Support
      .row
        .description
          p.
            Focus on moving in the right direction and gain confidence in understanding your child&rsquo;s sleep needs while also addressing their nutritional requirements. We give parents the strategies to avoid the &lsquo;new parent exhaustion&rsquo; that often comes with the addition of a new baby.

        aside
          small
            label.
              Includes:
            ul
              li Detailed intake questionnaire
              li 60 minute consultation
              li Virtual sleep log to track the emerging trends in your child&rsquo;s sleep and feeding habits
              li Two virtual sleep log check ups
              li One 30 minute follow-up call
              li 15-minute follow-up call when your child is 4 months
              li The Sleeping Child Resource Guide to manage every sleep situation throughout the childhood years

      br

      .package.center.papaya
        h5 Prenatal and Newborn
        h6 Not-yet-born - 12 weeks
        h5 $300 + GST
        a.button(href='book/prenatal.html') Book

    hr

    .service
      p
        h3.
          Infant, Toddler and Child Support
      .row
        .description
          p.
            Child sleep issues rarely resolve on their own. For two weeks, we support your family through the implementation of your sleep plan. Together, we will reach your sleep goals as quickly and easily as possible.
        aside
          small
            label.
              Includes:
            ul
              li detailed intake questionnaire
              li 60 minute consultation
              li virtual sleep log to track the emerging trends in your child&rsquo;s sleep and feeding habits
              li four scheduled follow-up calls* during week one
              li sleep log checkups for two weeks
              li The Sleeping Child Resource Guide to manage every sleep situation throughout the childhood years
            p
              small *Infant, Toddler and Child Support includes four 15-minute follow-up calls
              br
              small *Twin and Sibling Support includes four 30-minute follow-up calls

      br

      .row

        .package.cols4.papaya

          h5 Infant
          h6 13 weeks to 17 months
          h3 $500 + GST
          a.button(href='book/infant.html') Book

        .package.cols4.roseMelon

          h5 Toddler and Child
          h6 18 months+
          h3 $600 + GST
          a.button(href='book/toddler.html') Book

        .package.cols4.skydive

          h5 Twins
          h6 13 weeks+
          h3 $700 + GST
          a.button(href='book/twins.html') Book

        .package.cols4.tropiteal

          h5 Siblings
          h6 Two children, different ages
          h3 $800 + GST
          a.button(href='book/siblings.html') Book
