section.services
  .contain
    h2.
      Our Packages

    .service
      p
        h4.
          Prenatal and Newborn Sleep Education Package <br> (not yet born to 12 weeks)
      .row
        .description
          p.
            The goal of our Prenatal and Newborn Sleep Education is to instill healthy, independent sleep skills from the get-go while also addressing your baby&rsquo;s nutritional requirements and developing your confidence in understanding your child&rsquo;s needs. This guide gives parents the strategies to avoid the &lsquo;new parent exhaustion&rsquo; that often comes with the addition of a new baby.

        aside
          small
            label.
              Includes:
            ul
              li a detailed intake questionnaire
              li an hour-long consultation
              li a virtual sleep log to track the emerging trends in their child&rsquo;s sleep and feeding habits
              li two scheduled virtual sleep log check ups
              li additional 30 minute follow-up call during the first 12 weeks of your child&rsquo;s life
              li 15-minute follow-up call when your child is 4 months
              li The Sleeping Child Resource Guide to keep parents prepared as your child matures and when life changes

      .package.center.papaya
        h5 Prenatal Support
        h6 (up to 12 weeks old)
        h5 $300
        a.button(href='book/prenatal.html') Book

    .service
      p
        h4.
          Infant, Toddler and Child Sleep Support Packages
      .row
        .description
          p.
            Sleep problems are not insignificant. The goal of our Infant, Toddler and Child Sleep Support Packages is to teach families proven strategies to reach their sleep goals as quickly and easily as possible.
        aside
          small
            label.
              Includes:
            ul
              li a detailed intake questionnaire
              li an hour-long consultation
              li an online sleep log to track the emerging trends in their child&rsquo;s sleep and feeding habits
              li four scheduled follow-up calls* during week one
              li daily, scheduled virtual sleep log checkups for two weeks
              li The Sleeping Child Resource Guide to keep parents prepared as your child matures and when life changes


      p
        small *Infant, Toddler and Child Support Package includes four 15-minute follow-up calls
        br
        small *Sibling Support Package includes four 30-minute follow-up calls

      .row

        .package.cols.papaya

          h5 Infant
          h6 (13 weeks to 17 months)
          h3 $500
          a.button(href='book/infant.html') Book

        .package.cols.roseMelon

          h5 Toddler and Child
          h6 (18 months+)
          h3 $600
          a.button(href='book/toddler.html') Book

        .package.cols.skydive

          h5 Twins
          h6 (13 weeks+)
          h3 $700
          a.button(href='book/twins.html') Book

        .package.cols.tropiteal

          h5 Siblings
          h6 (two children, different ages)
          h3 $800
          a.button(href='book/siblings.html') Book
