footer
  div
    .contain
      include shared/_logo.jade
      include shared/_nav.jade
  .credits
    span.
      Designed by #[a(href='http://www.iconiccommunications.ca' target='_blank') Iconic Communications]
      #[br.show-for-small-only]
    span.
      &nbsp; Developed by #[a(href='http://codeandconduct.is' target='_blank') Code &amp; Conduct]
