a(href='/')
  img(src='images/sleepingchild-logo-inverse.png' alt='The Sleeping Child').logo
nav
  ul
    li
      a(href='/evaluations') Free Evaluations
    li
      a(href='/consultations') Consultations
    li
      a(href='/workshops') Workshops
