include landing_page/1_carousel.jade
include landing_page/2_splash.jade
include landing_page/3_team.jade
include landing_page/4_testimonials.jade
include landing_page/5_ad.jade
include landing_page/6_services.jade
