@import "style/guide",
        "style_guide",
        "landing_page/style/ad.scss",
        "landing_page/style/carousel.scss",
        "landing_page/style/services.scss",
        "landing_page/style/splash.scss",
        "landing_page/style/team.scss",
        "landing_page/style/testimonials.scss";

.center {
  text-align: center;
}

body{
  font-family: $roboto-thin-family;
  font-size: 1.2em;
  letter-spacing: 0.03em;
  color: $skydive;

  padding: 0;
  margin: 0;

}

b {
  font-family: $roboto-medium-family;
}

.content {
  a {
    @include sc-button();
  }
}

h1 { @include h1(); }
h2 { @include h2(); }
h3 { @include h3(); }

strong {
  font-family: $gothamrnd-bold-family;
}

a {
  @include a();
}

a.button {
  @include sc-button();
  background-color: $papaya;
}

p em {
  font-style: normal;
  font-family: $roboto-medium-family;
  color: $roseMelon;
}











header {
  background-color: $darkTropiteal;
  margin-bottom: 1rem;
  @include clearfix();

  .logo {
    float: left;
    max-width: 400px;
    padding: 2rem 6rem 2rem 1rem;
  }

  nav {
    float: right;
    padding-top: 3rem;
    padding-right: 2rem;
    color: white;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        + li {
          margin-left: 2rem;
        }
        a {
          color: white;
        }
      }
    }
  }

}















section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
