h1 Header 1
h2 Header 2
h3 Header 3
h4 Header 4
h5 Header 5
h6 Header 6

hr

p.
  This is a paragraph.  It uses the body style! This is a paragraph.  It uses the body style! This is a paragraph.  It uses the body style! This is a paragraph.  It uses the body style! This is a paragraph.  It uses the body style! This is a paragraph.  It uses the body style! This is a paragraph.  It uses the body style!

hr

ul
  li Unordered List item 1
  li Unordered List item 2
  li Unordered List item 3
  li Unordered List item 4

ol
  li Ordered List Item 1
  li Ordered List Item 2
  li Ordered List Item 3
  li Ordered List Item 4
  li Ordered List Item 5

hr

blockquote.
  This is a block quote!  It is like a paragraph but indented.  This is a block quote!  It is like a paragraph but indented.  This is a block quote!  It is like a paragraph but indented.  This is a block quote!  It is like a paragraph but indented.  This is a block quote!  It is like a paragraph but indented.

p The following <em>word</em> is emphasized.

p The following <b>word</b> is bold.

a(href='http://google.com') Link to Google

hr

.colors
  .breezeBlocks
  .skydive
  .tropiteal
  .charcoal
  .slate
  .roseMelon
  .papaya
