
<style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Roboto&v2);


	div.gridHeader {
		color: #FFFFFF !important;
		background-color:#1DA6AC !important;
	}


	div.gridBusy, div.gridTechnicallyFree {
		color: #808080 !important;
		background-color:#89A6AC !important;
	}


	div.gridFree {
		background-color:#ffffff !important;
		color: #000000 !important;
	}
	div.gridFree a, div.gridFree a:link, div.gridFree a:visited, div.gridFree a:hover, div.gridFree a:active {
		color: #000000 !important;
	}


	body {font-family: 'Roboto' !important;}

	body {color: #7FCDC4; !important}
	h1, h2, h3, h4 {font-family: 'Roboto' !important;}

	h1, h2, h3, h4 {color: #ffffff !important;}
	h1 a, h2 a, h3 a, h4 a {color: #ffffff !important;}
	h1.title {font-family: 'Roboto' !important;}

	h1.title {color: #ffffff !important;}

</style>

		<div class="content">

			<div class="header noText">
				<div class="headerStart"></div>
				<img class="logo square smallImage" src="https://upload.youcanbook.me/v/ycbm/GFKdKTYrrNGx6ae9PMDR/images/sleepingchild-master-png.png">
				<h1 class="title">The Sleeping Child</h1>

				<div class="headerEnd"></div>
			</div>


			<div class="main">
				<div class="mainStart"></div>


				<div class="instructions">
					<div class="instructionsStart"></div>
					<p>Click on any time to make a booking.</p>
</div>
					<div class="instructionsEnd"></div>

				<div id="spinner" style="display: none;"><img src="/resources/pics/spinner-big.gif" class="square smallImage"></div>
				<div class="gridPage yesFree noTimezone noJumpDate noPeriodButtons" id="gridPage" style="visibility: visible;">



					<div class="grid cols7 showTechnicallyFree" style="width: 100%; max-width: 100%;">


						<div class="paging pagingBefore pagingEmpty">
							&nbsp;
						</div>

						<div class="gridDays">


							<div class="gridDay gridDayThu">
								<div class="gridHeader">



									<h4>Thu, May 14</h4>

								</div>


								<div id="grid1431590400000" class="gridSlot gridFree gridAm" onmouseover="highlight('1431590400000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431590400000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431590400000">8:00 AM</a>
								</div>



								<div id="grid1431594000000" class="gridSlot gridAm gridFree" onmouseover="highlight('1431594000000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431594000000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431594000000">9:00 AM</a>
								</div>



								<div id="grid1431597600000" class="gridSlot gridFree gridAm" onmouseover="highlight('1431597600000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431597600000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431597600000">10:00 AM</a>
								</div>



								<div id="grid1431601200000" class="gridSlot gridAm gridFree" onmouseover="highlight('1431601200000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431601200000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431601200000">11:00 AM</a>
								</div>



								<div id="grid1431604800000" class="gridSlot gridFree gridPm" onmouseover="highlight('1431604800000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431604800000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431604800000">12:00 PM</a>
								</div>



								<div id="grid1431608400000" class="gridSlot gridPm gridFree" onmouseover="highlight('1431608400000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431608400000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431608400000">1:00 PM</a>
								</div>



								<div id="grid1431612000000" class="gridSlot gridPm gridFree" onmouseover="highlight('1431612000000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431612000000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431612000000">2:00 PM</a>
								</div>



								<div id="grid1431615600000" class="gridSlot gridFree gridPm" onmouseover="highlight('1431615600000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431615600000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431615600000">3:00 PM</a>
								</div>



								<div id="grid1431619200000" class="gridSlot gridFree gridPm" onmouseover="highlight('1431619200000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431619200000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431619200000">4:00 PM</a>
								</div>


							</div>



							<div class="gridDay gridDayFri">
								<div class="gridHeader">



									<h4>Fri, May 15</h4>

								</div>


								<div id="grid1431676800000" class="gridSlot gridAm gridFree" onmouseover="highlight('1431676800000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431676800000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431676800000">8:00 AM</a>
								</div>



								<div id="grid1431680400000" class="gridSlot gridAm gridFree" onmouseover="highlight('1431680400000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431680400000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431680400000">9:00 AM</a>
								</div>



								<div id="grid1431684000000" class="gridSlot gridAm gridFree" onmouseover="highlight('1431684000000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431684000000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431684000000">10:00 AM</a>
								</div>



								<div id="grid1431687600000" class="gridSlot gridFree gridAm" onmouseover="highlight('1431687600000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431687600000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431687600000">11:00 AM</a>
								</div>



								<div id="grid1431691200000" class="gridSlot gridPm gridFree" onmouseover="highlight('1431691200000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431691200000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431691200000">12:00 PM</a>
								</div>



								<div id="grid1431694800000" class="gridSlot gridFree gridPm" onmouseover="highlight('1431694800000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431694800000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431694800000">1:00 PM</a>
								</div>



								<div id="grid1431698400000" class="gridSlot gridFree gridPm" onmouseover="highlight('1431698400000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431698400000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431698400000">2:00 PM</a>
								</div>



								<div id="grid1431702000000" class="gridSlot gridPm gridFree" onmouseover="highlight('1431702000000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431702000000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431702000000">3:00 PM</a>
								</div>



								<div id="grid1431705600000" class="gridSlot gridPm gridFree" onmouseover="highlight('1431705600000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431705600000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431705600000">4:00 PM</a>
								</div>


							</div>



							<div class="gridDay gridDaySat">
								<div class="gridHeader">



									<h4>Sat, May 16</h4>

								</div>


								<div id="grid1431763200000" class="gridSlot gridAm gridFree" onmouseover="highlight('1431763200000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431763200000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431763200000">8:00 AM</a>
								</div>



								<div id="grid1431766800000" class="gridSlot gridAm gridFree" onmouseover="highlight('1431766800000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431766800000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431766800000">9:00 AM</a>
								</div>



								<div id="grid1431770400000" class="gridSlot gridAm gridFree" onmouseover="highlight('1431770400000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431770400000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431770400000">10:00 AM</a>
								</div>



								<div id="grid1431774000000" class="gridSlot gridAm gridFree" onmouseover="highlight('1431774000000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431774000000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431774000000">11:00 AM</a>
								</div>



								<div id="grid1431777600000" class="gridSlot gridPm gridFree" onmouseover="highlight('1431777600000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431777600000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431777600000">12:00 PM</a>
								</div>



								<div id="grid1431781200000" class="gridSlot gridPm gridFree" onmouseover="highlight('1431781200000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431781200000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431781200000">1:00 PM</a>
								</div>



								<div id="grid1431784800000" class="gridSlot gridPm gridFree" onmouseover="highlight('1431784800000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431784800000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431784800000">2:00 PM</a>
								</div>



								<div id="grid1431788400000" class="gridSlot gridPm gridFree" onmouseover="highlight('1431788400000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431788400000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431788400000">3:00 PM</a>
								</div>



								<div id="grid1431792000000" class="gridSlot gridPm gridFree" onmouseover="highlight('1431792000000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431792000000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431792000000">4:00 PM</a>
								</div>


							</div>



							<div class="gridDay gridDaySun">
								<div class="gridHeader">



									<h4>Sun, May 17</h4>

								</div>


								<div id="grid1431849600000" class="gridSlot gridAm gridFree" onmouseover="highlight('1431849600000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431849600000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431849600000">8:00 AM</a>
								</div>



								<div id="grid1431853200000" class="gridSlot gridFree gridAm" onmouseover="highlight('1431853200000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431853200000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431853200000">9:00 AM</a>
								</div>



								<div id="grid1431856800000" class="gridSlot gridAm gridFree" onmouseover="highlight('1431856800000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431856800000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431856800000">10:00 AM</a>
								</div>



								<div id="grid1431860400000" class="gridSlot gridAm gridFree" onmouseover="highlight('1431860400000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431860400000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431860400000">11:00 AM</a>
								</div>



								<div id="grid1431864000000" class="gridSlot gridPm gridFree" onmouseover="highlight('1431864000000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431864000000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431864000000">12:00 PM</a>
								</div>



								<div id="grid1431867600000" class="gridSlot gridPm gridFree" onmouseover="highlight('1431867600000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431867600000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431867600000">1:00 PM</a>
								</div>



								<div id="grid1431871200000" class="gridSlot gridFree gridPm" onmouseover="highlight('1431871200000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431871200000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431871200000">2:00 PM</a>
								</div>



								<div id="grid1431874800000" class="gridSlot gridFree gridPm" onmouseover="highlight('1431874800000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431874800000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431874800000">3:00 PM</a>
								</div>



								<div id="grid1431878400000" class="gridSlot gridFree gridPm" onmouseover="highlight('1431878400000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431878400000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431878400000">4:00 PM</a>
								</div>


							</div>



							<div class="gridDay gridDayMon">
								<div class="gridHeader">



									<h4>Mon, May 18</h4>

								</div>


								<div id="grid1431936000000" class="gridSlot gridFree gridAm" onmouseover="highlight('1431936000000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431936000000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431936000000">8:00 AM</a>
								</div>



								<div id="grid1431939600000" class="gridSlot gridAm gridFree" onmouseover="highlight('1431939600000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431939600000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431939600000">9:00 AM</a>
								</div>



								<div id="grid1431943200000" class="gridSlot gridAm gridFree" onmouseover="highlight('1431943200000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431943200000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431943200000">10:00 AM</a>
								</div>



								<div id="grid1431946800000" class="gridSlot gridFree gridAm" onmouseover="highlight('1431946800000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431946800000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431946800000">11:00 AM</a>
								</div>



								<div id="grid1431950400000" class="gridSlot gridFree gridPm" onmouseover="highlight('1431950400000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431950400000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431950400000">12:00 PM</a>
								</div>



								<div id="grid1431954000000" class="gridSlot gridFree gridPm" onmouseover="highlight('1431954000000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431954000000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431954000000">1:00 PM</a>
								</div>



								<div id="grid1431957600000" class="gridSlot gridFree gridPm" onmouseover="highlight('1431957600000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431957600000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431957600000">2:00 PM</a>
								</div>



								<div id="grid1431961200000" class="gridSlot gridFree gridPm" onmouseover="highlight('1431961200000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431961200000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431961200000">3:00 PM</a>
								</div>



								<div id="grid1431964800000" class="gridSlot gridFree gridPm" onmouseover="highlight('1431964800000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431964800000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1431964800000">4:00 PM</a>
								</div>


							</div>



							<div class="gridDay gridDayTue">
								<div class="gridHeader">



									<h4>Tue, May 19</h4>

								</div>


								<div id="grid1432022400000" class="gridSlot gridFree gridAm" onmouseover="highlight('1432022400000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432022400000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432022400000">8:00 AM</a>
								</div>



								<div id="grid1432026000000" class="gridSlot gridAm gridFree" onmouseover="highlight('1432026000000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432026000000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432026000000">9:00 AM</a>
								</div>



								<div id="grid1432029600000" class="gridSlot gridAm gridFree" onmouseover="highlight('1432029600000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432029600000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432029600000">10:00 AM</a>
								</div>



								<div id="grid1432033200000" class="gridSlot gridFree gridAm" onmouseover="highlight('1432033200000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432033200000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432033200000">11:00 AM</a>
								</div>



								<div id="grid1432036800000" class="gridSlot gridFree gridPm" onmouseover="highlight('1432036800000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432036800000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432036800000">12:00 PM</a>
								</div>



								<div id="grid1432040400000" class="gridSlot gridFree gridPm" onmouseover="highlight('1432040400000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432040400000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432040400000">1:00 PM</a>
								</div>



								<div id="grid1432044000000" class="gridSlot gridFree gridPm" onmouseover="highlight('1432044000000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432044000000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432044000000">2:00 PM</a>
								</div>



								<div id="grid1432047600000" class="gridSlot gridFree gridPm" onmouseover="highlight('1432047600000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432047600000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432047600000">3:00 PM</a>
								</div>



								<div id="grid1432051200000" class="gridSlot gridFree gridPm" onmouseover="highlight('1432051200000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432051200000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432051200000">4:00 PM</a>
								</div>


							</div>



							<div class="gridDay gridDayWed">
								<div class="gridHeader">



									<h4>Wed, May 20</h4>

								</div>


								<div id="grid1432108800000" class="gridSlot gridAm gridFree" onmouseover="highlight('1432108800000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432108800000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432108800000">8:00 AM</a>
								</div>



								<div id="grid1432112400000" class="gridSlot gridAm gridHighlight" onmouseover="highlight('1432112400000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432112400000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432112400000">9:00 AM</a>
								</div>



								<div id="grid1432116000000" class="gridSlot gridAm gridFree" onmouseover="highlight('1432116000000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432116000000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432116000000">10:00 AM</a>
								</div>



								<div id="grid1432119600000" class="gridSlot gridFree gridAm" onmouseover="highlight('1432119600000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432119600000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432119600000">11:00 AM</a>
								</div>



								<div id="grid1432123200000" class="gridSlot gridFree gridPm" onmouseover="highlight('1432123200000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432123200000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432123200000">12:00 PM</a>
								</div>



								<div id="grid1432126800000" class="gridSlot gridFree gridPm" onmouseover="highlight('1432126800000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432126800000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432126800000">1:00 PM</a>
								</div>



								<div id="grid1432130400000" class="gridSlot gridFree gridPm" onmouseover="highlight('1432130400000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432130400000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432130400000">2:00 PM</a>
								</div>



								<div id="grid1432134000000" class="gridSlot gridFree gridPm" onmouseover="highlight('1432134000000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432134000000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432134000000">3:00 PM</a>
								</div>



								<div id="grid1432137600000" class="gridSlot gridFree gridPm" onmouseover="highlight('1432137600000');" onmouseout="resetHighlights();" onclick="location='/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432137600000';">
									<a href="/v2/jsps/book.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;slot=1432137600000">4:00 PM</a>
								</div>


							</div>


						</div>

						<div class="paging pagingAfter pagingNext">
							<h4><a href="/v2/jsps/cal.jsp?cal=UsfvjXFz3XaKddRxefV7&amp;jumpDate=2015-05-21" class="pageButton">next »</a></h4>
						</div>

						<div style="clear:both;"></div>
					</div>

				</div>
				<div class="mainEnd"></div>
			</div>

			<div class="footer">
				<div class="footerStart"></div>

				<div class="footerEnd"></div>
			</div>





			<script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="/resources/scripts/ycbm.service.min.js?v=20150513090558"></script>





		<script type="text/javascript">
			//addToHomescreen.removeSession()
			addToHomescreen({
			   skipFirstVisit: false,
			   maxDisplayCount: 3,
			   lifespan:20,
			   displayPace:60
			   //debug:true
			});
		</script>





<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57420767-1', 'auto');
  ga('create', 'UA-155464-7', 'youcanbook.me', {'name': 'oldTracker'});
  ga('set', 'dimension1', 'peso');
  ga('set', 'dimension2', 'Service');

  ga('set', 'dimension3', 'professional');


  ga('send', 'pageview');
  ga('oldTracker.send', 'pageview');
</script>



		</div>

		<script type="text/javascript">
		function highlight(gids) {
			var gid = gids.split(",");
			for(i = 0; i < gid.length; i++){
				$("#grid"+gid[i]).removeClass("gridFree");
				$("#grid"+gid[i]).removeClass("gridTechnicallyFree");
				$("#grid"+gid[i]).removeClass("gridBusy");
				$("#grid"+gid[i]).addClass("gridHighlight");
			}
		}
		function resetHighlights() {
			$(".gridHighlight").removeClass("gridHighlight");



			$("#grid1431590400000").addClass("gridFree");



			$("#grid1431676800000").addClass("gridFree");



			$("#grid1431763200000").addClass("gridFree");



			$("#grid1431849600000").addClass("gridFree");



			$("#grid1431936000000").addClass("gridFree");



			$("#grid1432022400000").addClass("gridFree");



			$("#grid1432108800000").addClass("gridFree");





			$("#grid1431594000000").addClass("gridFree");



			$("#grid1431680400000").addClass("gridFree");



			$("#grid1431766800000").addClass("gridFree");



			$("#grid1431853200000").addClass("gridFree");



			$("#grid1431939600000").addClass("gridFree");



			$("#grid1432026000000").addClass("gridFree");



			$("#grid1432112400000").addClass("gridFree");





			$("#grid1431597600000").addClass("gridFree");



			$("#grid1431684000000").addClass("gridFree");



			$("#grid1431770400000").addClass("gridFree");



			$("#grid1431856800000").addClass("gridFree");



			$("#grid1431943200000").addClass("gridFree");



			$("#grid1432029600000").addClass("gridFree");



			$("#grid1432116000000").addClass("gridFree");





			$("#grid1431601200000").addClass("gridFree");



			$("#grid1431687600000").addClass("gridFree");



			$("#grid1431774000000").addClass("gridFree");



			$("#grid1431860400000").addClass("gridFree");



			$("#grid1431946800000").addClass("gridFree");



			$("#grid1432033200000").addClass("gridFree");



			$("#grid1432119600000").addClass("gridFree");





			$("#grid1431604800000").addClass("gridFree");



			$("#grid1431691200000").addClass("gridFree");



			$("#grid1431777600000").addClass("gridFree");



			$("#grid1431864000000").addClass("gridFree");



			$("#grid1431950400000").addClass("gridFree");



			$("#grid1432036800000").addClass("gridFree");



			$("#grid1432123200000").addClass("gridFree");





			$("#grid1431608400000").addClass("gridFree");



			$("#grid1431694800000").addClass("gridFree");



			$("#grid1431781200000").addClass("gridFree");



			$("#grid1431867600000").addClass("gridFree");



			$("#grid1431954000000").addClass("gridFree");



			$("#grid1432040400000").addClass("gridFree");



			$("#grid1432126800000").addClass("gridFree");





			$("#grid1431612000000").addClass("gridFree");



			$("#grid1431698400000").addClass("gridFree");



			$("#grid1431784800000").addClass("gridFree");



			$("#grid1431871200000").addClass("gridFree");



			$("#grid1431957600000").addClass("gridFree");



			$("#grid1432044000000").addClass("gridFree");



			$("#grid1432130400000").addClass("gridFree");





			$("#grid1431615600000").addClass("gridFree");



			$("#grid1431702000000").addClass("gridFree");



			$("#grid1431788400000").addClass("gridFree");



			$("#grid1431874800000").addClass("gridFree");



			$("#grid1431961200000").addClass("gridFree");



			$("#grid1432047600000").addClass("gridFree");



			$("#grid1432134000000").addClass("gridFree");





			$("#grid1431619200000").addClass("gridFree");



			$("#grid1431705600000").addClass("gridFree");



			$("#grid1431792000000").addClass("gridFree");



			$("#grid1431878400000").addClass("gridFree");



			$("#grid1431964800000").addClass("gridFree");



			$("#grid1432051200000").addClass("gridFree");



			$("#grid1432137600000").addClass("gridFree");



		}
		function policeColumns() {
			$(".grid").css("width", "100%");
			$(".grid").css("max-width", "100%");
			var columns = $(".gridDay:visible, .paging");
			var before = $(".pagingBefore");
			var after = $(".pagingAfter");
			columns.addClass("wideCol");
			columns.removeClass("mediumCol");
			columns.removeClass("narrowCol");
			if (before.offset().top != after.offset().top) {
				columns.addClass("mediumCol");
			}
			if (before.offset().top != after.offset().top) {
				columns.addClass("narrowCol");
			}
			if (before.offset().top != after.offset().top) {
				columns.removeClass("narrowCol");
				columns.removeClass("mediumCol");
				columns.removeClass("wideCol");
				$(".noFreeMessage").removeClass("modal");
			}
			else {
				var w = 1;
				columns.each(function(){
					w = w + $(this).outerWidth(true);
				});
				if ($(".grid").css("padding-left")) w = w + parseInt($(".grid").css("padding-left"));
				if ($(".grid").css("padding-right")) w = w + parseInt($(".grid").css("padding-right"));
				if ($(".grid").css("border-left-width")) w = w + parseInt($(".grid").css("border-left-width"));
				if ($(".grid").css("border-right-width")) w = w + parseInt($(".grid").css("border-right-width"));
				$(".grid").css("width", w + "px");
				$(".grid").css("max-width", w + "px");
				$(".grid").css("margin", "0px auto");
				$(".noFreeMessage").addClass("modal");
			}
		}
		function updateTimeZone() {
			$("#gridPage").css("visibility", "hidden");
			$("#spinner").show();
			if ($("#continent").val() == "UTC") {
				$("#btz").val("UTC");
			}
			else {
				$("#btz").val($("#zone" + $("#continent").val()).val());
			}
			$("#timeZoneForm").submit();
		}

		$(document).ready(function() {
			if ($.datepicker.regional['en-US']) {
				$.datepicker.setDefaults($.datepicker.regional['en-US']);
			}
			else if ($.datepicker.regional['en']) {
				$.datepicker.setDefaults($.datepicker.regional['en']);
			}
			else {
				$.datepicker.setDefaults($.datepicker.regional['en-GB']);
			}
			$.datepicker.setDefaults({
				dateFormat: "yy-mm-dd",
				showOn: "both",
				buttonText: "Jump To Date",
				showAnim: "",
				constrainInput: false ,
				gotoCurrent: true
			});
			$("#jumpDate").datepicker();
			$("button.ui-datepicker-trigger").wrapInner("<span>");

			$(".pageButton").click(function(){
				$("#gridPage").css("visibility", "hidden");
				$("#spinner").show();
			});
			$("select#continent, select[data-zone]").change(updateTimeZone);
			$(".gridHeaderDayName, .gridHeaderDate").each(function(){
				$(this).html($(this).data("content"));
			});
			$("#spinner").hide();
			$("#gridPage").css("visibility", "visible");
			policeColumns();
			$(window).resize(policeColumns);
		});
		</script>
