section.services
  .service
    aside
      img(src='/images/icons/gift.png')
    .description
      h4 Want to give the gift of sleep?
      p.
        When you work with us, you will reach your sleep goals as quickly and easily as possible. During our time together, you will build confidence in your ability to read your child's sleep needs and your child will know what to expect from you, therefore creating a happy, stress-free sleep environment.

      a.button(href='#') More
