meta(name='viewport' content='width=device-width, initial-scale=1')
meta(property='og:title' content='The Sleeping Child')
meta(property='og:site_name' content="Sleep Consulting")
meta(property='og:url' content='http://thesleepingchild.com')
meta(property='og:description' content='You can make bedtime happy. Let us help.')
meta(property='description' content='You can make bedtime happy. Let us help.')
meta(property="og:locale" content="en_US")
meta(property='og:image' content='http://thesleepingchild.com/images/og-image-sleepingchild.jpg')
script(type='text/javascript' src='/vendor/jquery-1.11.3.min.js')
script(type='text/javascript' src='/vendor/scooch/scooch.min.js')
script(type='text/javascript' src='/scripts/main.js')
link(rel="stylesheet" href="/style/main.css")
link(rel="stylesheet" href="/vendor/scooch/scooch.min.css")
link(rel="icon" href="/favicon.ico" sizes="32x32 64x64" type="image/vnd.microsoft.icon")
title The Sleeping Child
