nav
  .column
    h4.
      Services
    ul
      li(class="#{ current.path[0] == 'evaluations' ? 'active' : '' }")
        a(href='/evaluations') Free Evaluations

      li(class="#{ current.path[0] == 'consultations' ? 'active' : '' }")
        a(href='/consultations') One-on-One Consultations

      li(class="#{ current.path[0] == 'workshops' ? 'active' : '' }")
        a(href='/workshops') Workshops and Webinars

  .column
    h4.
      Contact
    ul
      li
        a(href='tel:1-844-837-5337') <b>t.</b> +1 (844) 837-5337
      li
        a(href='mailto:info@thesleepingchild.com') <b>e.</b> info@thesleepingchild.com
