section.services
  .contain
    .service
      aside
        img(src='/images/icons/gift.png')
      .description
        h4 One-on-One Consultations
        p.
          We develop your sleep plan, teach you how to implement the strategies, and support you and your family during the process. Together, we will reach your goals.

        a.button(href='/consultations') More
