section.services
  .contain
    .service
      aside
        img(src='/images/icons/gift.png')
      .description
        h4 Webinars and Workshops
        p.
          Confidently develop and implement a sleep plan in our online or in-person, group-based learning environment. We will get you on the right path.

        a.button(href='/workshops') More
